<h1>Menu</h1>

<% @menus.each do |menu| %>
    <%= link_to menu.date, menu_path(menu), class: 'btn btn-primary btn-lg menu-btn' %>
<% end %>

<%= link_to 'New Menu', new_menu_path, class: 'btn btn-success' %>
