<div class="text-center">
  <h2><%= @user.username %></h2>

  <% if @user == current_user %>
    <p class="form-button">
      <%= link_to "Edit profile", edit_user_path(@user), class: 'btn btn-default' %>
    </p>
  <% end  %>
</div>
