.menu-btn {
  width: 15em;
  display: block;
  margin-bottom: 15px;
}

.back-btn {
  margin: 1em 0;
}

.order-right {
  text-align: right;
}

.margin {
  margin: 1em;
}

.user-avatar {
  border-radius: 100%;
}

.img-icon {
    border-radius: 100%;
    margin-top: -2px;
    height: 50px;
}
